<div class="contact-page">
    <div class="contact-container">
        <h2>Contact Us</h2>
        <form action="https://formsubmit.co/aaron@dot11services.com" method="POST">
            <input type="hidden" name="_captcha" value="false" /> 
            <div class="form-group">
                <label for="name">Name</label>
                <input type="text" id="name" name="name" required />
            </div>
          
            <div class="form-group">
                <label for="email">Email</label>
                <input type="email" id="email" name="email" required />
            </div>
          
            <div class="form-group">
                <label for="phone">Phone Number</label>
                <input type="tel" id="phone" name="phone" />
            </div>

            <div class="form-group">
                <label>Which services are you interested in?</label>
                <div *ngFor="let service of services" class="service-group">
                    <input type="checkbox" name="services[]" [value]="service.title" />
                    <label>{{ service.title }}</label>
                </div>
            </div>
          
            <div class="form-group">
                <label for="description">How Can We Help?</label>
                <textarea id="description" name="description" rows="4" required></textarea>
            </div>
            <button type="submit">Submit</button>
        </form>          
    </div>
</div>
  