<div class="our-method-page">
    <div class="our-method-container">
        <h2>Our Method</h2>
        <ul>
            <li>First, we will conduct a predictive site survey with electronic copies of your building's floor plan to provide a quote.</li>
            <li>Next, we will perform a passive on-site survey capturing data of the current RF environment. This will help us adjust our predictive site survey and quote if needed.</li>
            <li>Then, we will install the agreed upon networking equipment and perform an active site survey. During the active site survey, coverage and throughput of the new WLAN will be validated.</li>
            <li>Last, you can test your organization's devices and applications. We will not be hands off until everything is online and functional.</li>
        </ul>
    </div>
</div>