.our-method-page {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: calc(100vh - var(--navbar-height));
    position: relative;
    overflow: hidden;
    background-color: black; // fallback

    &::before {
        content: "";
        position: absolute;
        top: -10px;
        left: -10px;
        height: calc(100% + 20px);
        width: calc(100% + 20px);
        background: url('/assets/sectorAntenna.jpg') center/cover no-repeat;
        filter: blur(4px);
        z-index: 0;
    }

    &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.7); // adjust as needed
        z-index: 1;
    }

    > * {
        position: relative;
        z-index: 2;
    }
}

.our-method-container {
    position: relative;
    font-family: 'Montserrat', sans-serif;
    background-color: #fff;
    padding: 1rem;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
    max-width: 800px;
    width: 100%;
    margin: 1rem;

    h2 {
        text-align: center;
        margin-bottom: 1rem;
        color: var(--blue-primary);
    }

    ul {
        margin: 1.5rem;

        li {
            margin-bottom: 0.5rem;
            font-size: 1.1rem;
            line-height: 1.6;
            color: #333;
        }
    }
}