<div class="about-background">
    <div class="about-page">
        <section class="about-message">
            <h2>About Dot11 Services</h2>
            <p>
                From businesses to homes, Dot11 Services is committed to providing IT help without expensive contracts. We intend to provide realistic pricing that will never compromise user satisfaction.
            </p>
        </section>
  
        <section class="owner-bio">
            <div class="bio-card">
                <h3>Meet the Founder</h3>
                <img src="assets/aaron-profile.png" alt="Aaron Poper" class="founder-photo" />
                <p>
                    Aaron Poper, certified engineer and founder of Dot11 Services, resides in Berks County. His years of experience in telecommunications and wireless administration is dedicated to large campus area networks of higher education. From administering staff and faculty networks to the hospitality side in dormitories, Aaron Poper knows Wi-Fi and end user devices inside and out. He believes everyone needs a tech guy.
                </p>
            </div>
        </section>
    </div>
</div>