/* You can add global styles to this file, and also import other style files */
* {
    margin: 0;
    padding: 0;
}

:root {
    --blue-primary: #1f3f74;
    --blue-primary-darker: #152d53;
    --blue-primary-lighter: #3b5998;
    --blue-secondary: #3a9cc8;
}